/* Layout */

body {
  display: grid;
  /* grid-template-columns: 1fr repeat(8, minmax(0, calc(70ch / 8))) 1.618fr; */
  grid-template-columns: 1fr minmax(0, 70ch) 1.618fr;
  grid-template-rows: auto 1fr var(--space-l);
  row-gap: var(--space-m);
  line-height: var(--m);
}

header,
footer,
article {
  grid-column-start: 2;
}

header {
  display: flex;
  gap: var(--space-xx-s) var(--space-s);
  flex-wrap: wrap;
}

/* | viz */

.viz {
  grid-column-start: 3;
  grid-row-start: 2;
}
