/* || Typography */

/* https://rsms.me/inter/ */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: light) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* || Fonts and spacing */

h1 {
  font-size: var(--size-big);
  line-height: calc(var(--size-big) * 1.1);
  margin-block-end: var(--spacing-three);
  letter-spacing: var(--spacing-three-letter);
}

h2 {
  font-size: var(--size-normal);
  font-weight: var(--weight-heavy);
  line-height: calc(var(--size-normal) * 1.2);
  color: var(--color-sub-header);
  margin-block-end: var(--spacing-two);
  letter-spacing: var(--spacing-one-letter);
}

p {
  font-size: var(--size-normal);
  line-height: calc(var(--size-normal) * 1.25);
  color: var(--color-text);
  margin-block-end: var(--spacing-one);
  letter-spacing: var(--spacing-one-letter);
  max-width: 60ch;
  text-wrap: balance;
}

a {
  font-size: var(--size-normal);
  font-weight: var(--weight-heavy);
  color: var(--color-link);
  letter-spacing: var(--spacing-one-letter);
}

a:visited {
  color: var(--color-link-visited);
}

/* || General */

/* using flex to define some spacing... 
 * just testing...
*/
body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-three);
  margin: var(--spacing-three);
  background: var(--color-background);
}

/* || Header and Main Naviagtion */

header {
  display: inline-grid;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 5px;
}

.header__item {
  padding: 5px;
  border: 1px solid #999;
  width: 120px;
  min-width: fit-content;
  text-align: center;
}

.header__item--active {
  border-color: var(--color-selected);
  border-width: 2px;
}
