/* || Typography */

/* https://rsms.me/inter/ */

:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@supports (font-variation-settings: light) {
  :root {
    font-family: "Urbanist", sans-serif;
  }
}

/* || General */

body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: var(--space-l) 1fr var(--space-l);
  row-gap: var(--space-m);
  background: var(--color-background);
  line-height: 1.618;
}
/* || Fonts and spacing */

h1 {
  font-size: var(--font-size-l);
  margin-block-end: var(--space-m);
  letter-spacing: var(--space-letter-l);
  font-family: "Jost";
  outline: 2px solid;
}

h2 {
  font-size: var(--font-size-m);
  margin-block-end: var(--space-x-s);
  color: var(--color-sub-header);
  letter-spacing: var(--space-letter-m);
  font-family: "Jost";
  outline: 2px solid;
}

p {
  font-size: var(--font-size-s);
  margin-block-end: var(--space-x-s);
  letter-spacing: var(--space-letter-s);
  max-width: 70ch;
  text-wrap: balance;
  color: var(--color-text);
  outline: 2px solid red;
}

p::first-letter {
  font-size: var(--font-size-m);
  font-weight: var(--weight-heavy);
  color: brown;
}

a {
  font-size: var(--font-size-s);
  font-weight: var(--weight-heavy);
  color: var(--color-link);
  outline: 2px solid red;
}

header,
footer {
  grid-column: 2/8;
}

header {
  margin-block-start: var(--space-s);
}

.header__item {
  padding: var(--space-m);
  color: var(--color-link-header);
  text-decoration: none;
}

.header__item:first-child {
  padding-inline-start: 0;
}

.header__item--active {
  text-decoration: underline;
  text-underline-offset: 25%;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--color-link-header-active);
  color: var(--color-link-header-active);
}

article {
  grid-column: 2/8;
}
