/* || General */

body {
  background: var(--color-background);
}

.header__item {
  /*padding: var(--space-x-s);*/
  color: var(--color-link-header);
  text-decoration: none;
  /* outline: 2px dotted red; */
}

/*.header__item:first-child {*/
/*padding-inline-start: 0;*/
/*}*/

.header__item--active {
  text-decoration: underline;
  text-underline-offset: 25%;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--color-link-header-active);
  color: var(--color-link-header-active);
}

article {
  grid-column-start: 2;
}

.icons img {
  width: var(--space-m);
  height: var(--space-m);
}
