/* || Variables */

:root {
  /* color */
  --color-background: #edece4;
  --color-hue-main: 230deg;

  --color-link: lch(30 130 var(--color-hue-main));
  --color-link-visited: lch(20 120 var(--color-hue-main));

  --color-link-header: lch(20 20 var(--color-hue-main));
  --color-link-header-active: brown;

  --color-header: #000;
  --color-sub-header: #222;
  --color-text: #333;

  /* Fluid scaling, follows: 
   min + (max - min) * ((100vw - min-width) / (max-width - min-width)) */

  --min-fs: 1;
  --max-fs: 1.2;
  --min-vw: 25;
  --max-vw: 75;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;

  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) /
    (var(--max-vw) - var(--min-vw));

  --base-size: clamp(
    var(--min-fs-rem),
    var(--min-fs-rem) + var(--slope),
    var(--max-fs-rem)
  );

  --font-size-normal: var(--base-size);
  --font-size-big: calc(var(--base-size) * 3);

  /* @link https://utopia.fyi/clamp/calculator?a=320,1400,16—32|25.8—51.7|41.7—83.6 */

  --fluid-s: clamp(1rem, 0.7037rem + 1.4815vw, 2rem);
  --fluid-m: clamp(1.6125rem, 1.1329rem + 2.3981vw, 3.2313rem);
  --fluid-l: clamp(2.6063rem, 1.8303rem + 3.8796vw, 5.225rem);

  /* */
  --spacing-one: calc(var(--base-size) * 0.5);
  --spacing-two: calc(var(--base-size) * 1);
  --spacing-three: calc(var(--base-size) * 1.5);

  --spacing-letter-base: 0.0625rem;
  --spacing-one-letter: var(--spacing-letter-base);
  --spacing-two-letter: 0;
  --spacing-three-letter: -var(--spacing-letter-base);

  /* */
  --weight-heavy: 600;
}
