/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: "";
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || Variables */

:root {
  /* colors */

  --color-background: #e9e8e6;
  --color-primary: lch(56 77 44.93);
  --color-secondary: lch(42 33 213.52);

  --color-link: var(--color-secondary);
  --color-link-header: var(--color-link);
  --color-link-header-active: var(--color-primary);

  --color-header: #000;
  --color-sub-header: #222;
  --color-text: #333;

  /* Golden ration values */

  --xx-s: 0.381;
  --x-s: 0.618;
  --s: 1;
  --m: 1.618;
  --l: 2.617;
  --x-l: 4.235;
  --xx-l: 6.853;

  /* Fluid scaling, follows: 
   min + (max - min) * ((100vw - min-width) / (max-width - min-width)) */

  /*https://fluid.style*/
  /*x -> x * 1.333*/
  --space-xxx-s: clamp(0.034rem, 0.03rem + 0.018vw, 0.045rem);
  --space-xx-s: clamp(0.381rem, 0.339rem + 0.21vw, 0.507rem);
  --space-x-s: clamp(0.618rem, 0.55rem + 0.342vw, 0.823rem);
  --space-s: clamp(1rem, 0.889rem + 0.555vw, 1.333rem);
  --space-m: clamp(1.618rem, 1.439rem + 0.897vw, 2.156rem);
  --space-l: clamp(2.617rem, 2.327rem + 1.452vw, 3.488rem);
  --space-x-l: clamp(4.235rem, 3.765rem + 2.35vw, 5.645rem);
  --space-xx-l: clamp(6.853rem, 6.092rem + 3.803vw, 9.135rem);

  --font-size-s: var(--space-s);
  --font-size-m: var(--space-m);
  --font-size-l: var(--space-l);

  --space-letter-s: 0.03em;
  --space-letter-m: normal;
  --space-letter-l: -0.03em;

  /* Bold? */

  --weight-heavy: 600;
  --weight-vheavy: 900;
}

/* Layout */

body {
  display: grid;
  /* grid-template-columns: 1fr repeat(8, minmax(0, calc(70ch / 8))) 1.618fr; */
  grid-template-columns: 1fr minmax(0, 70ch) 1.618fr;
  grid-template-rows: auto 1fr var(--space-l);
  row-gap: var(--space-m);
  line-height: var(--m);
}

header,
footer,
article {
  grid-column-start: 2;
}

header {
  display: flex;
  gap: var(--space-xx-s) var(--space-s);
  flex-wrap: wrap;
}

/* | viz */

.viz {
  grid-column-start: 3;
  grid-row-start: 2;
}

/* || Typography */

:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@supports (font-variation-settings: light) {
  :root {
    font-family: "Urbanist", sans-serif;
  }
}

body {
  margin-block-start: var(--space-s);
}

.main-block {
  margin-inline-start: var(--space-s);
  margin-inline-end: var(--space-s);
}

header.main-block {
  font-optical-sizing: auto;
  font-style: normal;
}

header.main-block,
h1,
h2 {
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: var(--font-size-l);
  margin-block-end: var(--space-m);
  letter-spacing: var(--space-letter-l);
  line-height: var(--s);
  max-width: 20ch;
  color: var(--header);
  /*outline: 2px solid;*/
}

h2 {
  font-size: var(--font-size-s);
  font-weight: var(--weight-heavy);
  margin-block-end: var(--space-x-s);
  letter-spacing: var(--space-letter-m);
  color: var(--color-sub-header);
  /*outline: 2px solid;*/
}

p {
  font-size: var(--font-size-s);
  margin-block-end: var(--space-x-s);
  letter-spacing: var(--space-letter-s);
  /* max-width: 70ch; */
  text-wrap: balance;
  color: var(--color-text);
  /*outline: 2px solid red;*/
}

p::first-letter {
  /* font-size: var(--font-size-m); */
  font-weight: var(--weight-vheavy);
  color: var(--color-primary);
}

/* p::first-line { */
/*   line-height: var(--s); */
/* } */

a {
  font-size: var(--font-size-s);
  font-weight: var(--weight-heavy);
  color: var(--color-link);
  /*outline: 2px solid red;*/
}

.header__item {
  color: var(--color-link-header);
  text-decoration: none;
  /* outline: 2px dotted red; */
}

.header__item:focus {
  outline: none;
}

.header__item:focus-visible {
  outline: 2px dashed var(--color-primary);
}

.header__item--active {
  text-decoration: underline;
  text-underline-offset: 25%;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--color-link-header-active);
  color: var(--color-link-header-active);
}

em {
  font-style: italic;
}

/* || General */

body {
  background: var(--color-background);
}

::marker {
  color: var(--color-primary);
}

.header__item {
  /*padding: var(--space-x-s);*/
  color: var(--color-link-header);
  text-decoration: none;
  /* outline: 2px dotted red; */
}

/*.header__item:first-child {*/
/*padding-inline-start: 0;*/
/*}*/

.header__item--active {
  text-decoration: underline;
  text-underline-offset: 25%;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--color-link-header-active);
  color: var(--color-link-header-active);
}

.icons img {
  width: var(--space-m);
  height: var(--space-m);
}

ul ::marker {
  font-size: var(--font-size-s);
  white-space: collapse;
}

.list-style--visible {
  list-style: disc;
  list-style-position: inside;
  text-decoration: none;
}

/* .viz > div { */
/*   position: absolute; */
/* } */

.viz {
  container-type: inline-size;
}

.viz__circle-1 {
  width: var(--space-x-l);
  height: var(--space-x-l);
  background: var(--color-primary);
  border-radius: var(--space-xx-l);
}
/**/
/* @container (max-width: var(--space-x-l)) { */
@container (max-width: 5rem) {
  /* @container (max-width: calc(var(--space-x-l) + 1rem)) { */
  .viz__circle-1 {
    width: 0;
    height: 0;
  }
}
