/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* || Variables */

:root {
  /* color */
  --color-background: #edece4;
  --color-hue-main: 230deg;

  --color-link: lch(30 130 var(--color-hue-main));
  --color-link-visited: lch(20 120 var(--color-hue-main));

  --color-link-header: lch(20 20 var(--color-hue-main));
  --color-link-header-active: brown;

  --color-header: #000;
  --color-sub-header: #222;
  --color-text: #333;

  /* Fluid scaling, follows: 
   min + (max - min) * ((100vw - min-width) / (max-width - min-width)) */

  --min-fs: 1;
  --max-fs: 1.2;
  --min-vw: 25;
  --max-vw: 75;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;

  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) /
    (var(--max-vw) - var(--min-vw));

  --base-size: clamp(
    var(--min-fs-rem),
    var(--min-fs-rem) + var(--slope),
    var(--max-fs-rem)
  );

  --font-size-normal: var(--base-size);
  --font-size-big: calc(var(--base-size) * 3);

  /* @link https://utopia.fyi/clamp/calculator?a=320,1400,16—32|25.8—51.7|41.7—83.6 */

  --fluid-s: clamp(1rem, 0.7037rem + 1.4815vw, 2rem);
  --fluid-m: clamp(1.6125rem, 1.1329rem + 2.3981vw, 3.2313rem);
  --fluid-l: clamp(2.6063rem, 1.8303rem + 3.8796vw, 5.225rem);

  /* */
  --spacing-one: calc(var(--base-size) * 0.5);
  --spacing-two: calc(var(--base-size) * 1);
  --spacing-three: calc(var(--base-size) * 1.5);

  --spacing-letter-base: 0.0625rem;
  --spacing-one-letter: var(--spacing-letter-base);
  --spacing-two-letter: 0;
  --spacing-three-letter: -var(--spacing-letter-base);

  /* */
  --weight-heavy: 600;
}

/* || Typography */

/* https://rsms.me/inter/ */

:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@supports (font-variation-settings: light) {
  :root {
    font-family: "Urbanist", sans-serif;
  }
}

/* || Fonts and spacing */

h1 {
  font-size: var(--fluid-l);
  line-height: calc(var(--fluid-l) * 1.1);
  margin-block-end: var(--spacing-three);
  letter-spacing: var(--spacing-three-letter);
  font-family: "Jost";
}

h2 {
  font-size: var(--fluid-s);
  font-weight: var(--weight-heavy);
  line-height: calc(var(--fluid-m) * 1.25);
  color: var(--color-sub-header);
  margin-block-end: var(--spacing-two);
  letter-spacing: var(--spacing-one-letter);
  font-family: "Jost";
}

p {
  font-size: var(--fluid-s);
  line-height: calc(var(--fluid-s) * 1.3);
  color: var(--color-text);
  margin-block-end: var(--spacing-one);
  letter-spacing: var(--spacing-one-letter);
  max-width: 70ch;
  text-wrap: balance;
}

p::first-letter {
  font-size: var(--fluid-m);
  font-weight: var(--weight-heavy);
  color: brown;
}

a {
  font-size: var(--fluid-s);
  font-weight: var(--weight-heavy);
  color: var(--color-link);
  letter-spacing: var(--spacing-one-letter);
}

/*
a:visited {
  color: var(--color-link-visited);
}
*/

/* || General */

/* using flex to define some spacing... 
 * just testing...
*/
body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-three);
  margin-inline-start: calc(var(--spacing-three) + calc(var(--slope) * 9));
  margin-inline-end: calc(var(--spacing-three) * 1);
  margin-block-start: calc(var(--spacing-three) * 1);
  /* background: linear-gradient(var(--color-background), #4b6584); */
  background: var(--color-background);
}

/* || Header and Main Naviagtion */

/*
header {
  display: inline-grid;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 5px;
}
*/

.header__item {
  padding: var(--spacing-one);
  text-underline-offset: 25%;
  text-decoration-thickness: 10%;
  color: var(--color-link-header);
}

.header__item:first-child {
  padding-inline-start: 0;
}

.header__item--active {
  text-decoration-color: var(--color-link-header-active);
  text-decoration-style: double;
  color: var(--color-link-header-active);
}
