<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Decio's web</title>
    <!--link rel="preconnect" href="https://rsms.me/" />-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://indestructibletype.com/fonts/Jost.css"
      type="text/css"
      charset="utf-8"
    />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    {% assets "css_all" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <header>
      {% block header_home %}
        <a class="header__item" href="{{ url_for('homepage.homepage') }}">
          Home</a
        >
      {% endblock %}
      {% block header_articles %}
        <a class="header__item" href="{{ url_for('articles.articles') }}"
          >Articles</a
        >
      {% endblock %}
      {% block header_visualisations %}
        <a class="header__item" href="{{ url_for('visualisations.homepage') }}"
          >Visualisations</a
        >
      {% endblock %}
    </header>
    <article>{% block content %}{% endblock %}</article>
    <footer>
      <ul class="icons">
        <li>
          <a rel="me" href="https://github.com/deciob">
            <img
              src="{{ url_for('static', filename='github-mark.png') }}"
              alt="github"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
